html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.Home-Container{
    text-align: center;
    margin-top: 20%;
    color: #363636;
}
.btn-Home{
    background-color: #258cfb;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
}
.btn-Home:hover{
    background-color: #5291d4;
    color: white;
}